<div>
    <table id="statements" class="grid dict">
        {% for statement in Requirements.statement %}
        <tr>
            <td style="padding-left: 4px;">
                {% if statement.label.exists() %}
                <span>{{statement.label}}</span>
                {% endif %}
            </td>
            <td style="padding-left: 4px;">
                {% if statement.conformance.exists() %}
                <span>{{statement.conformance}}</span>
                {% endif %}
            </td>
            <td style="padding-left: 4px;" class="requirement">
                {% if statement.requirement.exists() %}
                <span>{{statement.requirement}}</span>
                {% endif %}

                {% if statement.satisfiedBy.exists() %}
                Satisfied by:<ol>
                {% for uri in statement.satisfiedBy %}
                    <li>{{uri}}</li>
                {% endfor %}
                </ol>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>
</div>